.html-banner {
  width: 750px;
  border: 1px solid #009688;
  padding:0px;
  display: inline-block;
  flex-direction: row;
  display: flex;

  &__icon {
    height: 100px;
    display: flex;
  }

  &__count {
    margin: 0;
    background: #009688;
    color: #FFF;
    line-height: 1.42857143;
    vertical-align: middle;
    border: 1px solid transparent;
    transition: background ease-in-out .1s;
    text-align: center;
  }

  &__actions {
    background: 0 0;
    color: #009688;
    margin: 0;
    display: flex;
    flex: 1;
  }

  &__total {
    font-size: 40px;
  }

  &__title {
    font-size: 12px;
  }
}